:root {
    --shade1: #e7eaf6;
    --shade2: #a2a8d3;
    --shade3: #38598b; 
    --shade4: #113f67; 
}

html{
    overflow-x: hidden;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header{
    background-color: var(--shade4);
    padding-top: 16px;
    color: #fff;
}

header > .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
}

nav{
    background-color: var(--shade3);
    padding: 16px 0;
    display: none;
}

nav li{
    list-style: none;
    display: inline;
    margin-right: 16px;
    font-size:18px;
    font-weight: bold;
    text-transform: uppercase;
}

li a{
    text-decoration: none;
    color: white;
}

.menu{
    width: 32px;
    cursor: pointer;
}

.menu span{
    height: 2px;
    width: 100%;
    background-color: #fff;
    display: block;
    margin-bottom: 4px;
}

.container-flex{
    display: flex;
}

#about img{
    max-width: 400px;
    margin-right: 24px;
}

section{
    padding: 48px 0;
}